<p>This is a twig template!</p>

<p>Modal ajax forms with php:</p>


	{{ form_link1 }}
	{{ form_link2 }}
</p>

<p>Modal ajax form with html and template</p>

<ol>
	<li><a class="use-ajax" data-dialog-options="{&quot;width&quot;:400}" data-dialog-type="modal" href="/weknow-module/submit-driven">From Submit Driven in modal.</a></li>

	<li><a class="use-ajax" data-dialog-options="{&quot;width&quot;:400}" data-dialog-type="dialog" href="/weknow-module/submit-driven">From Submit Driven in non modal dialog.</a></li>

	<li><a class="edit-button use-ajax" data-dialog-options="{&quot;width&quot;:400}" data-dialog-renderer="off_canvas" data-dialog-type="dialog" href="/weknow-module/submit-driven">From Submit Driven displayed in a nice off canvas dialog.</a></li>

</ol>
{{ attach_library('weknow_module/weknow_module') }}




